umvsasl
*.host*
*.psd*
*.tgt*
*.cnvendian*
*.cpp
*.swp
psdsrc/*.txt
*.report
*.runtime.h
*.allcv.h
*.epic
*.exportstr.h
*.global.h
Makefile
cvinit.in
predownload.in
.cproject
.project
host/
sim_linux/
tgt_ice/
tgt_mgd/
umvsasl.cnvendian.api.h
umvsasl.cnvendian.c
umvsasl.cnvendian.globalvar.h
umvsasl.cnvendian.input.i
umvsasl.cnvendian.private.h
umvsasl.cvcopy.cpp
.umvsasl.e.swp
*.trace
*.swp
*.log
dev-linux32/
host32/
ice-agp/
*.bak*
.umvsasl.e.swo
.vscode/
.~lock.vel_target_phs.txt#
umvsasl.bak.e
*.m~
